@charset "UTF-8";

body {
	min-width: 1000px;
}

.content {
	
}

.btn-primary {
	background-color: #be2edd !important;
	border-color: #be2edd;
}

.btn-primary:hover {
	border-color: #be2edd !important;
	opacity: 0.8;
}

.image-cover {
	position: relative;
}

.image-cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.25));
}

.over-hidden {
	height: 20px;
	overflow: hidden;
}

.div-title-underbar {
	border-bottom: 1px lightgray solid;
	margin-bottom: 20px;
}

.div-title-underbar span {
	text-decoration: none !important;
	color: black;
	font-size: 20px;
	padding: 5px 10px;
}

.div-title-underbar-bold {
	display: inline-block;
	border-bottom: 2px black solid;
	margin-bottom: -0.5px;
}

.lightgray {
	color: lightgray !important;
}

.hover-lightgray:hover{
	background-color: #eee !important;
	border-radius: 5px;
}
.hover-gray:hover{
	background-color: #ccc !important;
	border-radius: 5px;
}

textarea {
	outline: none;
}